<% var title = "sobolon - 海洋マイクロプラスチックを素材とした ハンドメイドアクセサリー"; var path =
"."; var description = "サイトの概要";%> <%- include ("./templates/_head",{title: title, path: path
,description: description}); %> <%- include("./templates/_header",{ path: path } ); %>
<main class="l-main-wrap">
  <div class="p-main-top l-inner-wrap">
    <div class="p-main-top__picture"></div>
    <div class="p-main-top__message">
      <p class="p-main-top__message--title">
        “可愛い” で <br class="is-pc" />
        地球を守る！
      </p>
      <p class="p-main-top__message--text">
        海洋マイクロプラスチックを素材とした <br />
        ハンドメイドアクセサリー「sobolon」
      </p>
    </div>
  </div>
  <!-- /.l-main-top -->
  <section id="concept" class="p-main-concept l-inner-wrap l-main-section">
    <h2 class="c-main-contents__title">Concept</h2>
    <div class="p-main-concept__wrap">
      <div class="p-main-concept__picture">
        <img src="<%= path %>/src/img/concept_img_01.png" alt="コンセプト1" />
      </div>
      <div class="p-main-concept__message">
        <p class="p-main-concept__message--title">
          可愛くてステキなのは当たり前。<br />
          地球にやさしくあるのも当たり前。
        </p>
        <p class="p-main-concept__message--text">
          「sobolon」は、海洋汚染の要因であるマイクロプラスチックを回収し、それらを素材としたハンドメイドアクセサリーを製作しているブランドです。
        </p>
      </div>
    </div>
  </section>
  <!-- /.l-main-concept -->
  <section id="feature" class="p-main-feature l-inner-wrap l-main-section">
    <h2 class="c-main-contents__title">Feature</h2>
    <ul class="p-main-feature__list">
      <li class="p-main-feature__item">
        <a href="#" class="p-main-feature__item--link">
          <div class="p-main-feature__item--picture">
            <img src="<%= path %>/src/img/feature_img_01.png" alt="" />
          </div>
          <div class="p-main-feature__item--body">
            <p class="p-main-feature__item--title">
              素材は海で採れた <br />
              マイクロプラスチック
            </p>
          </div>
        </a>
      </li>
      <li class="p-main-feature__item">
        <a href="#" class="p-main-feature__item--link">
          <div class="p-main-feature__item--picture">
            <img src="<%= path %>/src/img/feature_img_02.png" alt="" />
          </div>
          <div class="p-main-feature__item--body">
            <p class="p-main-feature__item--title">
              個性あふれる <br />
              “可愛い”デザイン
            </p>
          </div>
        </a>
      </li>
      <li class="p-main-feature__item">
        <a href="#" class="p-main-feature__item--link">
          <div class="p-main-feature__item--picture">
            <img src="<%= path %>/src/img/feature_img_03.png" alt="" />
          </div>
          <div class="p-main-feature__item--body">
            <p class="p-main-feature__item--title">
              世界にひとつだけの <br />
              一点物アクセサリー
            </p>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.l-main-feature -->
  <div class="p-main-about l-main-section">
    <div class="l-inner-wrap">
      <div class="p-main-about__wrap">
        <p class="p-main-about__title">
          消費者である私たちが、<br />
          地球環境のためにできることは何か？
        </p>
        <p class="p-main-about__text">
          そんな視点からこのブランドは生まれました。<br />
          オシャレを楽しむ気持ちを大切にしながらも、<br />
          ただ可愛いだけじゃない環境にやさしいアクセサリーを選ぶ人が増えていったら…
          <br />その変化は少しずつ、だけども本質的に、<br />
          この世界をHappyに変えていくのだと、私たちは考えます。
        </p>
      </div>
    </div>
  </div>
  <!-- /.l-main-about -->
  <section id="products" class="p-main-products l-inner-wrap l-main-section">
    <h2 class="c-main-contents__title">Products</h2>
    <ul class="p-main-products__list">
      <li class="p-main-products__item">
        <a href="#" class="p-main-products__item--link">
          <div class="p-main-products__item--picture">
            <img src="<%= path %>/src/img/product_img_01.png" alt="" />
          </div>
          <div class="p-main-products__item--body">
            <p class="p-main-products__item--title">
              【しかくイヤリング】海洋マイクロプラスチックを使ったハンドメイドイヤリング(全7色)
            </p>
            <p class="p-main-products__item--cost">￥3,695</p>
          </div>
        </a>
      </li>
      <li class="p-main-products__item">
        <a href="#" class="p-main-products__item--link">
          <div class="p-main-products__item--picture">
            <img src="<%= path %>/src/img/product_img_02.png" alt="" />
          </div>
          <div class="p-main-products__item--body">
            <p class="p-main-products__item--title">
              【しかく指輪】海洋マイクロプラスチックを使ったハンドメイドアクセサリー/ゆびわ(全7色)
            </p>
            <p class="p-main-products__item--cost">￥2,390</p>
          </div>
        </a>
      </li>
      <li class="p-main-products__item">
        <a href="#" class="p-main-products__item--link">
          <div class="p-main-products__item--picture">
            <img src="<%= path %>/src/img/product_img_03.png" alt="" />
          </div>
          <div class="p-main-products__item--body">
            <p class="p-main-products__item--title">
              【ピンバッジ】海洋マイクロプラスチックを使ったsobolonオリジナルピンバッジ(全6色)
            </p>
            <p class="p-main-products__item--cost">￥2,580</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="p-main-products__footer">
      <a href="#" class="c-main-contents__link">MORE</a>
    </div>
  </section>
  <!-- l-main-products -->
  <section id="news" class="p-main-news l-inner-wrap l-main-section">
    <h2 class="c-main-contents__title">News</h2>
    <div class="p-main-news__list">
      <article class="p-main-news__item">
        <a class="p-main-news__item--link" href="">
          <div class="p-main-news__item--header">
            <div class="p-main-news__item--picture">
              <img src="<%= path %>/src/img/news_img_01.png" alt="" />
            </div>
          </div>
          <div class="p-main-news__item--body">
            <p class="p-main-news__item--date"><time datetime="2020-02-04">2020年2月4日</time></p>
            <h3 class="p-main-news__item--title">き業展終了！次回は2/11(火)フェスタ出店します。</h3>
            <p class="p-main-news__item--text">
              「き業展」2日目！大盛況に終わりました\( ˆoˆ
              )/来てくださったみなさん本当にありがとうございました！やっぱり、地元多治見での出店はみ…
            </p>
          </div>
        </a>
      </article>
      <article class="p-main-news__item">
        <a class="p-main-news__item--link" href="">
          <div class="p-main-news__item--header">
            <div class="p-main-news__item--picture">
              <img src="<%= path %>/src/img/news_img_02.png" alt="" />
            </div>
          </div>
          <div class="p-main-news__item--body">
            <p class="p-main-news__item--date"><time datetime="2020-01-20">2020年1月20日</time></p>
            <h3 class="p-main-news__item--title">
              “可愛い” で 地球を守る！
              海洋マイクロプラスチックを使ったハンドメイドアクセサリー屋さん 【sobolon】
            </h3>
            <p class="p-main-news__item--text">
              こんにちは！私は、「 “可愛い”
              で地球を守る！」をテーマに、昨今、環境問題として話題になっている、マイクロプラスチックを使ったアクセサリー…
            </p>
          </div>
        </a>
      </article>
      <article class="p-main-news__item">
        <a class="p-main-news__item--link" href="">
          <div class="p-main-news__item--header">
            <div class="p-main-news__item--picture">
              <img src="<%= path %>/src/img/news_img_03.png" alt="" />
            </div>
          </div>
          <div class="p-main-news__item--body">
            <p class="p-main-news__item--date"><time datetime="2020-11-23">2020年11月23日</time></p>
            <h3 class="p-main-news__item--title">sobolonの矛盾</h3>
            <p class="p-main-news__item--text">
              こんにちは！“可愛い”で 地球を守る！マイクロプラスチックアクセサリー【 sobolon
              】のリーダーひなこです！sobolonを知らない…
            </p>
          </div>
        </a>
      </article>
    </div>
    <div class="p-main-news__footer">
      <a href="#" class="c-main-contents__link">MORE</a>
    </div>
  </section>
  <!-- /.l-main-news -->
  <section class="p-main-concepts2 l-inner-wrap l-main-section">
    <div class="p-main-concept2__wrap">
      <div class="p-main-concept2__picture">
        <img src="<%= path %>/src/img/concept_img_02.png" alt="コンセプト2" />
      </div>
      <div class="p-main-concept2__message">
        <p class="p-main-concept2__message--title">
          合言葉は、<br />
          「 “可愛い” で 地球を守る！」
        </p>
        <p class="p-main-concept2__message--text">
          深刻化している環境問題に対して、否定や制限、禁止といった強制的な方法ではなく、明るく幸せな未来を目指して、「可愛い」「楽しい」の力を信じて、愛につながる選択を世の中に増やしていきます。
        </p>
      </div>
    </div>
  </section>
  <!-- /.l-main-concepts2 -->
  <section id="contact" class="p-main-contact">
    <h2 class="c-main-contents__title is-primary">Contact</h2>
    <form class="p-main-contact__form" id="js-form" method="post" novalidate>
      <p class="p-main-contact__text">
        <span class="p-main-contact__text--inline">＊</span> は入力必須です
      </p>
      <dl class="p-main-contact__list">
        <div class="p-main-contact__item">
          <dt class="p-main-contact__item--title">
            お名前<span class="p-main-contact__item--inline">＊</span>
          </dt>
          <dd class="p-main-contact__item--input">
            <input type="text" id="username" required />
            <div class="js-feedback js-feedback-name"></div>
          </dd>
        </div>
        <div class="p-main-contact__item">
          <dt class="p-main-contact__item--title">
            メールアドレス<span class="p-main-contact__item--inline">＊</span>
          </dt>
          <dd class="p-main-contact__item--input">
            <input type="email" id="useremail" required />
            <div class="js-feedback js-feedback-email"></div>
          </dd>
        </div>
        <div class="p-main-contact__item">
          <dt class="p-main-contact__item--title">
            お問い合わせ内容<span class="p-main-contact__item--inline">＊</span>
          </dt>
          <dd class="p-main-contact__item--input">
            <textarea id="usertext" required></textarea>
            <div class="js-feedback js-feedback-text"></div>
          </dd>
        </div>
      </dl>
      <div class="p-main-contact__footer">
        <p class="p-main-contact__footer--text">
          <label class="p-main-contact__footer--privacy">
            <input class="p-main-contact__footer--privacy-input" type="checkbox" id="usercheck" required />
            <span class="p-main-contact__footer--privacy-part"></span>

          </label>
          <a class="p-main-contact__footer--privacy-link" href="#" target="_blank"
            >プライバシーポリシー</a
          >に同意します。
        </p>
        <div class="js-feedback js-feedback-check"></div>
        <div class="p-main-contact__footer--submit">
          <button class="c-main-contents__link c-main-contents__link--submit" type="submit">
            送信
          </button>
        </div>
      </div>
    </form>
  </section>
  <!-- /.l-main-contact -->
</main>
<!-- /.main -->
<%- include ("./templates/_footer",{ path: path }); %>
